body {
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #fff;
  background-color:#2d2d2d;
}

h1 {
  text-align: center;
}

#gameContainer {
  float:left;
  margin-left: 430px;
  
}

#leaderboard {
  margin-left: 300px;
  float: left;
}

canvas {
  background: #f8f8f8;
}


#timer {
  
  font-weight: bold;
  text-align: center;
  
}

#desc, #welcome {
  text-align: center;
  font-size: 24px;
}

#timerDiv {
  clear:both;
  position: relative;
  display: block;
}